<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{topic.name}}</h2>
    <p><strong>Question:</strong>
    {{question.question_text}}</p>

    <form action="{% url "question" topic.id question.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="answer" placeholder="Enter your answer" required>
        <button type="submit">Submit & Next</button>
    </form>
</body>
</html>