{% extends "base.html" %}

{% block title %}Select Topic{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-5"> <i class="bi bi-bullseye"></i> Select an Interview Topic</h2>

    <div class="row">

        {% for topic in topics %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100">

                <div class="card-body d-flex flex-column">

                    <h4 class="card-title">
                        {{ topic.name }}
                    </h4>

                    <p class="card-text">
                        {{ topic.description }}
                    </p>

                    <a href="{% url 'start_question' topic.id %}"
                       class="btn btn-primary mt-auto"><i class="bi bi-rocket-takeoff-fill"></i>
                        Start Interview
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}